
<h1 mat-dialog-title>Új project felvétele</h1>

<div mat-dialog-content>

  <mat-form-field>
    <input matInput placeholder="Név">
  </mat-form-field>

  <mat-form-field>
      <input matInput [matDatepicker]="picker" placeholder="Határidő">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <mat-form-field>
      <textarea matInput placeholder="Leírás" rows="5"></textarea>
  </mat-form-field>

</div>

<div mat-dialog-actions>
  <button id="btn-reg-save" mat-button (click)="onSaveClick()" cdkFocusInitial>Mentés</button>
  <button id="btn-reg-cancel" mat-button (click)="onCancelClick()">Mégsem</button>
</div>
