
<h1 matDialogTitle>Új feladat felvétele</h1>

<mat-dialog-content>

  <mat-form-field>
    <input matInput type="text" [(ngModel)]="_task.name" placeholder="Feladat neve">
  </mat-form-field>

  <mat-form-field>
    <mat-select placeholder="Előfeltételek" [(ngModel)]="_task.prerequisites" multiple>
      <mat-option *ngFor="let task of projectTasks" [value]="task.id">{{task.name}}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>

    <mat-chip-list #chipList>
      <mat-chip
        *ngFor="let skill of _skill"
        value="skill"
        [selectable]="selectable"
        [removable]="removable"
        (removed)="removeSkill(skill)">
        {{ skill.name }}
        <mat-icon matChipRemove>cancel</mat-icon>
      </mat-chip>
    </mat-chip-list>

    <input
      placeholder="Milyen képességek szükségesek hozzá???"
      #chipInput
      [formControl]="myControl"
      [matAutocomplete]="auto"
      [matChipInputFor]="chipList"
      [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
      [matChipInputAddOnBlur]="addBlurOn"
      (matChipInputTokenEnd)="addSkill($event)">

    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
      <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
        {{option}}
      </mat-option>
    </mat-autocomplete>

  </mat-form-field>

  <mat-checkbox [(ngModel)]="_task.isOpen">Nyílt feladat?</mat-checkbox>

</mat-dialog-content>

<mat-dialog-actions>
  <button mat-flat-button color="primary" [mat-dialog-close]="_task">Mentés</button>
  <button mat-stroked-button color="primary" mat-dialog-close>Mégsem</button>
</mat-dialog-actions>
