
h1 {
  padding-left: 30px;
  font-size: 40px;
  color: rgba(255,255,255,0.5);
  margin-top: 40px;
}

.placeholder {
  text-align: center;
  border: solid 1px rgba(255,255,255,0.4);
  background: rgba(255,255,255,0.1);
  font-size: 30px;
}

.half-width {
  width: 50%;
}

#graph-wrapper {
  padding-right: 150px;
  min-height: 230px;

  #graph {
    width: 100%;
  }
}

#legend {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 120px;
  background-color: #222;

  mat-icon {
    top: 20px;
    right: 20px;
    width: 80px;
    text-align: center;
  }

  label {
    position: absolute;
    bottom: 130px;
    left: 10px;
    width: 100px;
    text-align: center;
    font-size: 16px;
    color: #ffffff;

    span {
      font-size: 10px;
      opacity: 0.4;
    }
  }

  .label {
    position: absolute;
    width: 100px;
    left: 10px;
    padding: 5px;
    font-size: 12px;
    box-sizing: border-box;
    text-align: center;
    font-weight: bold;
    border-radius: 5px;
  }

  .lbl-done {
    background-color: green;
    color: #fff;
    bottom: 100px;
  }

  .lbl-in-progress {
    background-color: orange;
    color: #000;
    bottom: 70px;
  }

  .lbl-ready {
    background-color: white;
    color: #000;
    bottom: 40px;
  }

  .lbl-blocked {
    background-color: #cd5555;
    color: #fff;
    bottom: 10px;
  }
}

#task-form-wrapper {

  mat-card-header {

    .btn-save {
      right: 80px;
    }
  }

  mat-card-content {

    .custom-form-field {
      position: relative;
      padding: 10px 0;
      font-size: 14px;
      font-weight: 400;
      color: rgba(0,0,0,0.42);
      margin-bottom: 1.25em;

      &#form-field-dates {

        > span {
          display: inline-block;
          width: 50%;

          span {
            font-weight: bold;
            color: #000;
            padding-left: 6px;
          }
        }
      }

      #tag-state {

        font-weight: bold;
        padding: 6px 10px;
        margin-left: 20px;
        border-radius: 3px;
        background-color: #cd5555;
        color: white;

        &.completed {
          background-color: green;
          color: white;
        }

        &.in-progress {
          background-color: orange;
          color: black;
        }
      }

      button {
        position: absolute;
        top: 0;
        right: 0;
      }
    }
  }
}
