
h1 {
  font-family: "Raleway";
  font-size: 36px;
  font-weight: 300;
  text-align: center;
}

mat-form-field {
  width: 100%;
}

button {
  font-size: 20px;
}

#btn-reg-register:hover {
  background-color: #cd5555;
  color: #ffffff;
}
