
@import url('https://fonts.googleapis.com/css?family=Raleway:300,500,700|Roboto+Condensed:300,500,700');
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

* {
  font-family: "Roboto Condensed";
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway";
  font-weight: 300;
}

html {
  background: url("assets/images/background2.jpg") no-repeat center center fixed;
  background-size: cover;
}

body {
  margin: 0;
  padding-top: 60px;
}

.ruler {
  margin: auto;
  width: 700px;
}

.spacer {
  flex: 1 1 auto;
}

mat-form-field {
  width: 100%;
}



.edgePath path {
  stroke: #333;
  fill: #333;
  stroke-width: 1.5px;
}
