
<h1 id="title">Sajtoslaska v0.0.1 <span>pre-alpha</span></h1>

<section id="login-form">

  <h2>Bejelentkezés</h2>

  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

    <mat-form-field>
      <input matInput formControlName="username" type="text" placeholder="Felhasználónév" required>
    </mat-form-field>

    <mat-form-field>
      <input matInput formControlName="password" type="password" placeholder="Jelszó" required>
    </mat-form-field>

    <button id="btn-login" mat-button type="submit">BEJELENTKEZÉS</button>
    <div id="reg-btn-wrapper">
      vagy
      <span id="btn-reg" mat-button (click)="openRegDialog()">Regisztráció</span>
    </div>

  </form>

</section>
