
<h1>Sajtoslaska v0.0.1 <span>pre-alpha</span></h1>

<section id="login-form">

  <h2>Bejelentkezés</h2>

  <mat-form-field>
    <input matInput type="text" placeholder="Név">
  </mat-form-field>

  <mat-form-field>
    <input matInput type="password" placeholder="Jelszó">
  </mat-form-field>

  <button id="btn-login" mat-button routerLink="users/1/projects">BEJELENTKEZÉS</button>
  <div id="reg-btn-wrapper">
    vagy
    <span id="btn-reg" mat-button (click)="openRegDialog()">Regisztráció</span>
  </div>

</section>
