
h1 {
  padding-left: 30px;
  font-size: 40px;
  color: rgba(255,255,255,0.5);
  margin-top: 40px;
}

#member-list {

  mat-card-subtitle {
    margin: -24px 0 30px;
    font-size: 16px;
    opacity: 0.8;
  }

  > mat-card-content {

    mat-card {
      box-sizing: border-box;
      width: calc(50% - 10px);
      margin: 0 20px 20px 0;
      float: left;
      cursor: pointer;

      &:nth-child(2n) {
        margin-right: 0;
      }

      &:nth-last-child(1),
      &:nth-last-child(2) {
        margin-bottom: 0;
      }
    }
  }
}

#member-details {

  > mat-card-content {

    mat-card {
      box-sizing: border-box;
      width: 100%;
      margin-bottom: 20px;

      &:nth-last-child(1) {
        margin-bottom: 0;
      }
    }
  }
}
